<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		
		<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
		<script src="../js/bootstrap.js"type="text/javascript"></script>
		<script src="../js/jquery.sortelements.js" type="text/javascript"></script>
		<script src="../js/jquery.bdt.js" type="text/javascript"></script>
	
		<title>Gerenciador de TCC | FACOM</title>

		<link href="../css/bootstrap.css" rel="stylesheet" type="text/css" />		
		<link href="../css/styles.css" rel="stylesheet" type="text/css">
		<link href="../css/mediaqueries.css" rel="stylesheet" type="text/css">
		<link href="../css/font-awesome.min.css" type="text/css" rel="stylesheet">
		<link href="../css/jquery.bdt.css" type="text/css" rel="stylesheet">
		<link href="../css/jquery.bdt.min.css" type="text/css" rel="stylesheet">
	</head>
	<body>
		<div id="wrapper"> 
				<!-- Start Header-->
				<header id="header">
					<div class="pageWidth">
						<h1 id="logo">
							<a href="#"><img src="../img/logo.png" title="Gerenciador de TCC | FACOM" /></a> 
						</h1>
						
						<div class="row">
							<div class="col-sm-12 breakline">
								<br>
							</div>
						</div>

					</div>
				</header>
				<!-- End Header--> 
				
				<!-- Start Middle-->
				<section id="container" >
				
					<div class="container">
						
						<div class="row">
						
							<!-- INSERINDO QUEBRAS DE LINHA PARA AJUSTAR A PÁGINA -->
							<div class="row">
								<div class="col-sm-12 breakline">
									<br>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12 breakline">
									<br>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12 breakline">
									<br>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12 breakline">
									<br>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-12 breakline">
									<br>
								</div>
							</div>
							<!-- FIM QUEBRAS DE LINHA -->
							
							<div class="col-sm-4">
							</div>
			
							<form class="col-sm-4" action="aluno/trabalhos-disponiveis.html" method="POST">
								<div class="row">
									<fieldset class="col-sm-12">
										<legend align="center"><h2>Login</h1></legend>
							
										<div class="form-group">
											<label for="matricula">Matricula</label>
											<input type="text" class="form-control" id="matricula" name="matricula">
										</div>
							
										<div class="form-group">
											<label for="senha">Password</label>
											<input type="password" class="form-control" id="senha" name="senha">
										</div>
			
									</fieldset>
								</div>
							
								<button type="submit" class="btn btn-primary pull-right">
									Entrar
								</button>
								<a class="btn btn-link pull-right" style="margin-right:10px" href="cadastro.html" >Cadastrar</a>
							</form>
						</div>						
						
					</div>
				
				</section>
				
				<!-- End Middle--> 
				
				<!-- Start Footer-->
				<footer id="footer">
						<div class="copyRight">Universidade Federal de Uberlândia | Copyright © 2016 | Todos os Direitos Reservados</div>
				</footer>
				<!-- END Footer--> 
		</div>
	</body>
</html>
